@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* primary green */
    --primary: 152 51% 47%;
    /* white text */
    --primary-foreground: 0 0% 100%;
    /* special orange */
    --secondary: 41 98% 62%;
    /* white text */
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 49%;
    --black-soft-foreground: 205 36% 23%;
    --border: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
  }
}

@layer base {
  * {
    font-family: "Quicksand", sans-serif;
  }
}
