@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-content.description h2,
.tab-content.description h3,
.tab-content.description h4,
.tab-content.description h5,
.tab-content.description h6 {
  @apply my-4 text-2xl md:text-3xl lg:text-4xl font-bold leading-tight text-gray-700 capitalize;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* primary green */
    --primary: 152 51% 47%;
    /* white text */
    --primary-foreground: 0 0% 100%;
    /* special orange */
    --secondary: 41 98% 62%;
    /* light background */
    --light: 120 100% 95%; /* HSL format without quotes */
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 49%;
    --black-soft-foreground: 205 36% 23%;
    --border: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  /* * {
    font-family: "Quicksand", sans-serif;
  } */

  /* Custom style for slider thumb */
  .slider-thumb-green::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #38a169;
    /* Tailwind green-500 */
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }

  .slider-thumb-green::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #38a169;
    /* Tailwind green-500 */
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }

  .absolute-block-center {
    @apply absolute inset-0 flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
